html, body {
    color: black;
    font-family: 'Roboto', sans-serif; 
    margin: 0;
    font-size: 18px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background-color: rgb(223, 230, 233);
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: rgb(119, 131, 136);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(75, 82, 85);
}

.app-main-container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.special-case__building {
    width: 100%;
    min-height: 400px;
    background-color: #fafafa;
    display: grid;
    place-items: center;
    color: #bbb;
    margin: 20px 0;
}


@media only screen and (min-width: 768px) {
	body {
		font-size: 21px;
	}
}

@media only screen and (min-width: 992px) {
	body {
		font-size: 23px;
	}
}

@media only screen and (min-width: 1200px) {
	body {
		font-size: 25px;
	}
}